# Force LF line endings for shell scripts on all platforms
*.sh    text eol=lf
*.py    text eol=lf
*.jsx   text eol=lf
*.js    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.md    text eol=lf
*.css   text eol=lf
