ENV=production
PORT=8000
# AWS Settings (if any)
AWS_REGION=us-east-1

# Angel One SmartAPI Credentials
ANGEL_API_KEY=UgegfQMq
ANGEL_CLIENT_ID=M62446252
ANGEL_PASSWORD=124578
ANGEL_TOTP_SECRET=RP2CFZHVER26CNJLUMTOFFBZZE
SECRET_KEY=5468124564
